
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 32px;
  font-family: "Antic Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  background:#fff;
}

:root {
  --primary:#15294F;
  --secondary:rgb(219 223 225 / 50%);;
  --black:#000;
  --white:#fff;
  --hover-color:#BCA023;
  }
img {
  max-width: 100%;
}
p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
}

h1 {
    font-size: 42px;
    line-height: 58px;
    font-weight: 400;
    margin-bottom: 0px;
}
h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0px;

}
h3 {
    font-size:32px;
    font-weight: 400;
    margin-bottom: 0px;

  }

h4 {
    font-size:24px;
    font-weight: 400;
    margin-bottom: 0px;

}
h5 {
    font-size:20px;
    font-weight: 400;
    margin-bottom: 0px;

}
h6 {
  font-size:18px;
  font-weight: 400;
  margin-bottom: 0px;

}
ul {
  padding: 0px;
  margin: 0px;
  list-style-type:none;
}
a {
  text-decoration: none;
}
.custom-py {
  padding-left: 75px;
  padding-right: 75px;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px;
}
ul li {
  font-size: 18px;
  color: var(--black);
}
/* ======header css start===== */
.menu-navbar ul {
  display: flex;
  align-items: center;
  gap:50px;
}
.menu-navbar  ul li a {
  color: var(--black);
}
.menu-navbar  ul  li:hover a {
  color: #BCA023;
}
.menu-navbar  ul  li:hover ul li a {
  color: var(--black);
}
.logo {
  max-width: 330px;
}
.header {
  background: var(--white);
  padding: 24px 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: fixed;
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 99;
}

.menu-navbar li {
  position: relative;
}
.menu-navbar li ul {
  width: 240px;
  padding: 8px 0px;
  text-align: left;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0px;
  margin-left: 0px;
  margin-top: 18px;
  z-index: 4;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
  transform-origin: center top 0;
  transition: all .5s ease 0s;
  border: 1px solid #edefee;
  border-radius: 5px;
  display: inline-block;
  margin-right: 0px;
  border-bottom: 0px;
  -webkit-box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, .07);
  -moz-box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, .07);
  box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, .07)
}
.menu-navbar li:hover ul {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.menu-navbar ul li ul::after {
  display: none;
}
.menu-navbar ul > li::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: transparent;
  display: none;
  z-index: 2;
}
.menu-navbar ul > li:hover::before {
  display: block;
}
.menu-navbar ul li ul li a::after {
  height: 1px !important;
  background: var(--primary) !important;
}

.menu-navbar ul li ul li::before {
  display: none !important;
}
.menu-navbar ul li ul li:last-child a::after {
  display: none;
}
.menu-navbar ul li ul li a {
  font-size: 18px;
  padding: 11px 10px;
  line-height: normal;
  font-weight: 500;
  transition: all .3s ease;
}
.menu-navbar ul li ul li a:hover {
  color:var(--hover-color);
}
.menu-navbar ul li ul li ul {
  top:0px;
  left: 239px;
  opacity: 0 !important;
  transform: scaleY(0) !important;
  visibility: hidden !important;
}
.menu-navbar ul li ul li:hover ul {
  opacity: 1 !important;
  transform: scaleY(1) !important;
  visibility: visible !important;
}
.slicknav_nav a:hover {
  color: var(--hover-color) !important;
}

.banner-area {
  margin-top: 90px;
}
.banner-area img {
  width: 100%;
}
.goods-manufacturing-area {
    padding-top:100px;
    padding-bottom: 130px;
    background: var(--secondary);
    position: relative;
}
.goods-manufacturing-area::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #BCA023;
  bottom:130px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.common-title h4 {
    line-height: 34px;
}
.common-title h2 {
    margin-bottom: 30px;
}
.manufacturing-card-box {
  gap: 30px;
  position: relative;
}
.manufacturing-item {
  width: calc((100% - 60px) / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 30px;
}
.manufacturing-item h4 {
  padding-bottom: 15px;
}
.manufacturing-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #BCA023;
  top:0px;
  right: -15px;
}
.manufacturing-item:last-child::after{
  display: none;
}
.manufacturing-card-box {
  margin-top: 45px;
  text-align: center;
}
.manufacturing-item h4 a{
  color:#BCA023
}
.manufacturing-item p {
  font-size: 16px;
  line-height: 28px;
}
.manufacturing-item-photo {
  margin-top: auto;
}
.artistry-behind-area {
    background: var(--primary);
    padding-top: 80px;
    padding-bottom: 90px;
    color: var(--white);
}
.common-title h5 {
  line-height: 34px;
}
.artistry-behind-wrap {
  gap:80px;
  padding-top: 70px;
}
.artistry-behind-item {
  width: calc((100% - 80px) / 2);
}
.artistry-behind-title {
  background: var(--black);
  text-align: center;
  color:var(--white);
  padding: 26px 20px;
}
.artistry-behind-title h5 {
  font-size: 22px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.details-box a {
  background: var(--white);
  color: var(--black);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding:20px;
  position: relative;
  height: 100px;
}
.details-box a:hover {
  color: #BCA023; 
}
.details-box a img {
  position: absolute;
  right: 34px;
  top:50%;
  transform: translateY(-50%);

}
.details-box h5 {
  font-size:22px;
  line-height: 1;
}

.our-extensive-photo {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  max-width: 50%;
}
.our-extensive-range {
  background: var(--secondary);
  padding: 110px 0px;
  min-height: 700px;
}
.extensive-text-content {
  width:41%;
  padding: 40px 0;
}
.extensive-text-content h2 {
    line-height: 62px;
    padding-bottom: 30px;
}
.work-button {
  background: #BCA023;
  font-size: 22px;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  gap:20px;
  padding: 10px 59px;
  border: 1px solid #BCA023;
}
.work-button:hover {
  background: transparent;
  color: var(--black);
}
.work-button:hover img {
  filter: brightness(0) invert(0);
}
.extensive-text-content p {
  margin-bottom: 62px;
}
.our-leather-brand-area {
  background: var(--primary);
  padding: 90px 0;
  color: var(--white);
}
.our-leather-brand-area .common-title h2 {
    line-height: 40px;
}
.our-leather-brand-area .common-title h5 {
  font-size: 26px;
}

.our-leather-brand-area .common-title ul {
  text-align: start;
  padding-top: 50px;
}
.our-leather-brand-area .common-title ul li {
  font-size: 22px;
  line-height: 35px;
  color: #E5E3C8;
  margin-bottom: 38px;
  padding-left: 70px;
  background: url(assets/image/check-mark.svg)no-repeat;
  background-position: top 12px left;
}
.owl-dots {
  display: flex;
  justify-content: center;
  gap:10px;
} 

.owl-carousel button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: rgb(229 227 200 / 50%);
}
.owl-carousel button.owl-dot.active {
  background:#E5E3C8;
}
.owl-dots {
  margin-top: 50px;
}
.leather-brand-r-wrap {
  padding-top: 40px;
}
.extensive-reverse .extensive-range-inner {
  flex-direction: row-reverse;
}
.extensive-reverse .our-extensive-photo {
  right: initial;
  left: 0px;
}
.extensive-reverse .extensive-text-content {
  margin-left: auto;
  margin-right: 50px;
}
.experience-area {
  padding-top: 90px;
  padding-bottom: 130px;
  background: var(--primary);
}
.experience-area .common-title  h2 {
  color: var(--white);
  margin-bottom: 70px;
}
.voices-photo-box {
  position: relative;
  cursor:pointer;
}
.voices-photo-box::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background:url(assets/image/big-arrow.svg)no-repeat;
  background-position: center center;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.voices-photo-box.nav-arrow-right::after{
  background: url(assets/image/big-arrow-right.svg)no-repeat;
} 
.voices-experience-content {
    display: grid;
    grid-template-columns: 17% 62% 17%; 
    gap: 28px;
}
.voices-experience-slider-box {
  background: var(--white);
}
.voices-experience-info {
  padding: 45px 30px 40px 34px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.voices-experience-info h4 {
  line-height: 38px;
  padding-bottom: 16px;
}
.voices-experience-info p {
  line-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.voices-experience-photo {
  width: 30%;
}
.reviews-btn {
  margin-top: auto;
  margin-left: auto;
  font-size: 16px;
  color: #15294F;
  display: flex;
  align-items: center;
  gap:10px;
}
.reviews-btn:hover {
  color: var(--hover-color);
}
.experience-slider  .owl-dots {
  position: absolute;
  left: 0px;
  right: 0px;
}
.experience-slider   .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-between;
}
.craftsmanship-area {
  padding:150px 0;
  background: url(assets/image/bg-2.jpg)no-repeat;
  background-size: cover;
  background-position: center center;
}
.craftsmanship-area .common-title {
  max-width: 1178px;
  margin:0 auto;
} 
.craftsmanship-area .common-title h2 {
  font-size: 62px;
  line-height: 75px;
  margin-bottom: 40px;
}
.craftsmanship-area .common-title p  {
  margin-bottom: 70px;
}
.genuine-leather-area {
  padding: 150px 0px;
  color: var(--white);
  background: url(assets/image/bg-3.jpg)no-repeat;
  background-size: cover;
}
.genuine-leather-area .common-title h2 {
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 30px;
}
.genuine-leather-area .common-title p {
  margin-bottom: 60px;
}
.contant-us-area {
  padding-top: 110px;
  padding-bottom: 110px;
  background: var(--secondary);
}
.contant-us-area .common-title {
  max-width: 1160px;
  margin: 0 auto;
}
.contant-us-area .common-title {
  padding-bottom: 50px;
}
.contant-us-area .common-title h2 {
  line-height: 62px;
}
.contant-us-form {
  background: var(--white);
  padding: 60px;
  max-width: 1056px;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-group label {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}
.form-group {
  padding-bottom: 50px;
}
.form-control {
  height: 50px;
  border-radius: 0px;
  border: 1px solid #CCCCCC
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--hover-color);
}

.contant-us-form h3 {
  font-size:42px;
  line-height: 40px;
  padding-bottom: 90px;
  text-align:center;
}

::placeholder {
  color: #757575;
  opacity: 1; 
}

::-ms-input-placeholder {
  color: #757575;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

.file-upload-field  .form-control input,
select.form-control {
  appearance: none; 
  -moz-appearance: none; 
  -webkit-appearance: none;
  background: url('assets/image/down-arrow.svg') no-repeat right 10px center;
  background-size: 24px; /* Adjust size of your arrow */
}
.file-upload-field  .form-control input {
  background: url('assets/image/down-arrow.svg') no-repeat right 0px center;
}
.check-box-wrap {
    display: flex;
    gap:10px;
}
label.form-check-label {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 0px;
  cursor: pointer;
}
.form-check .form-check-input {
  margin-top: 4px;
  width: 13px;
  height: 13px;
  border-radius: 2px;
}
.form-check .row {
  gap:28px 0px;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}
.web-search-image-upload {
  gap:46px
}
.web-search-field {
  width: 39%;
}
.file-upload-field {
  width: 62%;
}
.file-upload-field  .form-control {
  display: flex;
  align-items: center;
}
.file-upload-field  .form-control input {
  width: 100%;
  color: #757575;
  cursor: pointer;
}
.form-group textarea {
  height:180px ;
}
.chat-tool-check {
  gap: 30px 60px;
}
.chat-tool-check label {
  font-size: 16px;
}
.btn-submit {
  display: flex;
  margin: 0 auto;
  background: #333333;
  border: 1px solid #333333;
  outline: none;
  color: var(--white);
  padding: 10px 85px;
  font-size: 16px;
  text-transform: uppercase;
  
}
.btn-submit:hover {
  background: var(--white);
  color: #333333;
}
.location-map {
  padding-top: 0px;
}
.location-map .our-extensive-photo {
  width: 100%;
}
.contact-info ul  {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap:50px;
}
.contact-info ul li a,
.contact-info ul li {
  display: flex;
  color: var(--black);
  font-size: 26px;
  line-height: 24px;
  gap:12px;
}
.contact-info ul li a:hover,
.contact-info ul li:hover {
  color: var(--hover-color);
}
.contact-info ul li span a {
  margin-bottom: 14px;
}
.social-media-link ul {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap:38px;
} 
.social-media-link ul li a {
  color: var(--black);
  font-size: 48px;
}
.social-media-link ul li a:hover {
  color: var(--hover-color);
}
.blog-section-area {
  background: var(--primary);
  padding-top: 90px;
  padding-bottom: 110px;
  color: var(--white);
}
.blog-item-info {
  padding-top: 36px;
  padding-bottom: 24px;
}
.blog-item-info  h6 {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 16px;
  line-height: 25px;
}
.blog-datetime {
  gap:8px;
  margin-top: auto;

}
.blog-datetime span {
  font-size: 14px;
  color: var(--white);
  line-height: 14px;
  border-right: 1px solid #fff;
  padding-right: 8px;
}
.blog-datetime span:last-child {
  border-right: none;
}
.blog-slider-area {
  padding-top: 40px;
}
.owl-carousel .owl-stage {
  display: flex;
}
.blog-slider-item {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.blog-slider  .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
  background: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0px;
}
.owl-nav button {
  width: 30px;
  height: 30px;
}
.owl-nav i {
  font-size: 38px;
}
.blog-slider .owl-prev {
  margin-left: -140px;
}
.blog-slider .owl-next:hover i,
.blog-slider .owl-prev:hover i{
  color:var(--hover-color)
}
.blog-slider .owl-next {
  margin-right: -140px;
}
.blog-slider-item:hover .blog-item-info h6{
  color: var(--hover-color);
}
.footer-nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap:25px
}
.footer-nav ul li {
  border-right: 1px solid var(--black);
  padding-right: 25px;
  font-size: 14px;
  line-height: 12px;
}
.footer-nav ul li:last-child {
  border-right: none;
}
.footer-nav ul li a {
  color: #000;
}
.footer-nav ul li a:hover {
  color: var(--hover-color);
}
.footer-area {
  padding-top: 90px;
  background: var(--secondary);
  text-align: center;
}
.footer-logo a {
  max-width:332px;
  margin:0 auto;
}
.footer-logo  {
  margin-bottom: 30px;
}
.footer-nav {
  padding-bottom: 70px;
  border-bottom: 1px solid #000;
}
.copyright-box {
  padding: 35px 0px;
}
.copyright-box p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1;
}
.banner-info {
  min-height: 574px;
  position: relative;
  padding: 50px 0px;
  z-index: 2;
}
.inner-banner {
  position: relative;
  overflow: hidden;
}
.inner-banner .banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
}
.banner-info-text {
  max-width: 790px;
}
.banner-info-text h1 {
  font-size: 42px;
  line-height: 57px;
  padding-bottom: 60px;
}
.banner-info-text .work-button {
    background: #333333;
    border: 1px solid #333333;
    width: 270px;
    align-items: center;
    height: 60px;
    align-items: center;
    justify-content: center;

}
.banner-info-text .work-button:hover {
  background: transparent;
}
.category-list-content ul li a {
    font-size: 18px;
    line-height: 1;
    color: var(--black);
}
.category-list-content ul li a:hover {
  color: var(--hover-color);
}
.category-list-area {
  padding-top: 60px;
  padding-bottom: 110px;
  background: var(--secondary);
}
.description-area {
  padding-top: 110px;
  padding-bottom: 110px;
  color:var(--white);
  background: var(--primary);
}
.description-area p {
  margin-bottom: 0px;
}
.impact-factors-area {
    padding-top: 110px;
    background: var(--secondary);
    padding-bottom: 110px;
}
.impact-factors-title h2 {
    font-size: 110px;
    line-height: 40px;
    color: rgb(178 178 178 / 50%);
    font-family: "Bacasime Antique", serif; 

}
.impact-factors-title {
  padding-bottom: 90px;
}
.impact-factors-info,
.impact-factors-photo {
  width: calc((100% - 0px) / 2);
}
.impact-factors-info {
  padding: 68px;
}
.impact-factors-info h3 {
  font-size: 42px;
  line-height: 62px;
  padding-bottom: 30px;
}
.impact-factors-reverse {
  flex-direction: row-reverse;
}
.impact-factors-reverse .impact-factors-info {
  padding-left: 0px;
}
.product-categories-area {
    padding-bottom: 110px;
    padding-top: 110px;
    background: var(--secondary);
}
.product-categories-area .container {
  max-width: 1350px;
}
.product-categories-area .common-title  {
    max-width: 960px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.product-photo {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-categories-content {
  padding-bottom: 60px;
}
.impact-factors-info h6{ 
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.sustainable-initiatves-area {
    padding-top: 110px;
    padding-bottom: 110px;
    background: var(--secondary);
}
.sustainable-item-box {
  background: var(--white);
  padding:70px 107px
}
.attempt-title h2 {
    font-size: 110px;
    line-height: 32px;
    font-family: "Bacasime Antique", serif;
    text-align: end;
    color: rgb(0 0 0 / 50%);
}
.sustainable-initiatves-area .common-title {
    padding-bottom: 70px;
}
.attempt-title {
  margin-bottom: -18px;
}
.sustainable-item-photo {
  width: 46%;
}
.ustainable-item-info {
  width: 54%;
  padding: 30px 0px 0px 70px
}
.ustainable-item-info h6 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
  padding-right: 20px;
  position: relative;

}
.ustainable-item-info h6::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background: var(--black);
  top: 9px;
  left: 100%;
}
.ustainable-item-info h4 a {
  color:#C4B15C;
}
.ustainable-item-info h4 {
  padding-bottom: 30px;
}
.sustainable-item-inner {
  border-bottom: 1px solid #000;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.sustainable-item-inner:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.ustainable-item-info p {
  margin-bottom: 0px;
}
.members-list-box {
  max-width: 844px;
  margin: 0 auto;
}
.members-list-photo {
  max-width: 270px;
  margin: 0 auto;
  border-radius: 100%;
}
.members-list-photo img {
  border-radius: 100%;
}
.members-list-item {
  padding: 0px 50px;
  text-align: center;
} 
.members-info {
  padding-top:30px
}
.members-info h4 {
    font-size: 18px;
    line-height: 1;
    color: var(--white);
    padding-bottom: 18px;
}
.members-info p {
  font-size: 15px;
  line-height: 24px;
  color: var(--white);
}
.members-list-slider  .owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
}
.members-list-slider .owl-nav i {
  font-size: 24px;
  color: #fff;
}
.members-list-slider .owl-nav i:hover {
  color: var(--hover-color);
}
.members-list-slider .owl-prev {
  margin-left: -40px;
}
.members-list-slider .owl-next {
  margin-right: -40px;
}
.members-list-slider .owl-dots {
  margin-top: 20px;
}
.inner-banner-2  .banner-info-text{
  max-width: 100%;
  text-align: center;
  color: #fff;
}
.inner-banner-2  .banner-image  img{
  height: 100%;
  object-fit: cover;
}
.secrscription-white {
  background:var(--secondary)
}
.secrscription-white {
  color: var(--primary);
  padding-top:0px;;
}
.leather-story-area {
  padding-top:110px;
  padding-bottom: 110px;
  background: var(--primary);
}
.leather-story-photo {
  width: 41%;
}
.leather-story-info {
  width:59%;
  padding-left: 60px;
  color: var(--white);
}
.leather-story-info p{
  font-size: 24px;
  line-height: 38px;
  padding-bottom: 30px;

}
.leather-story-info p:last-child {
  padding-bottom: 0px;
}
.leather-crafing-content .impact-factors-info h4{
  font-size:32px;
  line-height:38px;
  color: #C4B15C;
  padding-bottom: 40px;
}
.leather-crafing-content  .impact-factors-info {
  padding: 24px;
  padding-right: 0px;
}
.leather-crafing-content .impact-factors-info p:last-child {
  margin-bottom: 0px;
}
.leather-crafing-content .impact-factors-reverse  .impact-factors-info {
  padding-left: 0px;
  padding-right: 24px;
}
.leather-crafing-content {
  padding-top: 30px;
}
.typefo-leather-area {
  background: var(--primary);
  color: var(--white);
}
.impact-factors-photo img {
  width: 100%;
  object-fit: cover;
}
.typefo-leather-area .impact-factors-info h4 {
  padding-bottom: 30px;
}
.description-area  .common-title h4 {
  padding-bottom: 20px;
}
.attempt-inner-bg {
  background: var(--white);
}
.attempt-inner-bg .impact-factors-info h4 {
  margin-bottom: 30px;
}
.attempt-inner-bg {
  padding-top: 110px;
  padding-bottom: 110px;
}
.attempt-inner-bg .container{
  position: relative;
}
.attempt-inner-bg  .attempt-title {
  position: absolute;
  top:-124px;
  right: 0px;
  text-transform: uppercase;
}
.inner-banner-2 .banner-info-text h1 {
  font-size: 60px;
  line-height: 1;
  padding-bottom: 15px;
}
.banner-info-text h4 {
  line-height: 34px;
}
.breadcrumb {
    display: flex;
    align-items: center;
    gap:16px;
}
.breadcrumb span {
  font-size: 16px;
  color: #B2B2B2;
  position: relative;
}
.breadcrumb > span::after {
  content: '\f054';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 16px;
  margin-left: 10px;
}
.breadcrumb > span:last-child:after {
  display: none;
}
.breadcrumb span.current-item {
  color: var(--black);
}
.breadcrumb span i {
  font-size: 24px;
}
.aboutus-area {
  padding-top:60px;
  padding-bottom:60px;
  background:var(--secondary)
}
.aboutus-area .common-title {
  padding-top: 110px;
  padding-bottom: 90px;
}
.aboutus-area .common-title  h2 {
  font-size: 42px;
  line-height: 1;
}
.about-info-photo {
  width: 42%;
}
.about-info-text {
  width: 58%;
  padding-left: 120px;
}
.about-info-text h2 a,
.about-info-text h2 {
    font-size:42px;
    line-height: 62px;
    color: var(--black);
    margin-bottom: 12px;
}
.about-info-text h4 {
  line-height: 38px;
  margin-bottom: 25px;
}
.about-info-text h6 {
  line-height: 32px;
}
.about-info-text p{
  margin-bottom: 24px;
}
.about-information-box  {
  border-bottom: 1px solid #000;
  padding-bottom: 80px;
  margin-bottom: 110px;
}
.about-info-text ul {
  padding-bottom: 24px;
}
.about-info-text ul li {
  list-style: disc;
}
.about-info-text ul {
  padding-left: 20px;
}
.about-information-box:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.description-contanct-box {
  padding-top:60px;
  padding-bottom: 60px;
  background: #E0E2E2;
  color: #151313;
}

.description-area .work-button {
  border-radius: 12px;
  background-color: #D9DADC;
  color: var(--black);
  font-size: 14px;
  border: 1px solid #D9DADC;
  gap:8px;
}
.description-contanct-box  .work-button{
  background:#1E2C47;
  border: 1px solid #1E2C47;
  border-radius: 12px;
  color: var(--white);
}
.description-area .work-button:hover  ,
.description-contanct-box  .work-button:hover {
  background: transparent;
}
.description-area .work-button:hover  {
  color:var(--white);
}
.description-contanct-box  .work-button:hover {
  color: var(--black);
}
.description-contanct-box .common-title h4 {
  padding-bottom: 40px;
  color: #151313;
}
.color-black .banner-info-text h4,
.color-black .banner-info-text h1{
  color: var(--black);
}
.accordion-header h6 {
  color: var(--white);
  background: var(--primary);
  line-height: 32px;
  padding: 24px 30px;
  border-radius: 12px;
}
.accordion-content {
  background: #E0E2E2;
  padding: 24px 30px;
  border-bottom:1px solid #000;
  margin-top:30px;
}
.accordion-content p {
  max-width: 1190px;
  margin-bottom: 0px;
}
.accordion-item {
  padding-bottom: 30px;
}
.accordion-header {
  cursor: pointer;
}
.accordion-item.active .accordion-content {
  display: none
}
.accordion-box {
  padding-top: 60px;
}
.innner-banner-3 {
  background: var(--primary);
}
.innner-banner-3 .banner-info-text{
  max-width: 100%;
  text-align: center;
  color: var(--white);
}
.innner-banner-3 .banner-info-text h1 {
  padding-bottom: 20px;
}

.innner-banner-3  .banner-info {
  min-height: 500px;
}

.our-member-item  {
  background: var(--white);
}
.our-member-item {
  padding: 100px 20px 100px 90px;
}
.member-photo {
  width: 22%;
}
.member-info {
  width: 78%;
  padding-left: 60px;
}
.menmber-name {
  max-width: 600px;
  border-bottom: 2px solid  #C4B15C;
  margin-bottom: 8px;
}
.menmber-name h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  color: #C4B15C;
}
.member-info h6 {
  font-weight: 600;
  color: var(--black);
  font-family: "Inter", sans-serif;
  line-height: 42px;
}
.member-info p {
  line-height: 28px;
  color: #2B2B2B;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
}
.our-member-content {
  background-color: var(--white);
  margin-top: 80px;
}
.our-member-content hr {
  margin: 0px;
}
.our-member-content .common-title {
  max-width: 480px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.our-member-content .common-title h6 ,
.our-member-content .common-title h4  {
    line-height: 38px;
    padding-bottom: 20px;
}
.our-member-content .work-button {
  border-radius: 12px;
  color: var(--black);
}
.our-member-content .work-button:hover {
  color: var(--hover-color);
}
.review-content-area .our-member-item {
  padding: 0px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--black);
}
.review-content-area .our-member-content {
  padding: 110px 148px;
}
.review-content-area .member-photo {
  width: 156px;
  min-width:156px;
  border-radius: 100px;
}
.review-content-area .member-photo img {
  border-radius: 100px;
}
.review-content-area .member-info {
  width: 90%;
  padding-left: 40px;
}
.review-content-area .menmber-name {
  max-width: 100%;
  border-bottom: none;
}
.review-content-area .menmber-name h4 {
  color: var(--black);
  font-size: 20px;
  line-height: 48px;
  padding-bottom: 8px;
}
.review-content-area h6 {
  line-height: 42px;
  font-weight: 500;
  padding-bottom: 12px;
}
.review-content-area .member-info p {
  font-size: 16px;
  line-height: 28px;
  color: #2B2B2B;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 24px;
}

.review-content-area .work-button {
  border-radius: 0px;
  background: #131E20;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: 1px solid #131E20;
  gap: 10px;
}
.review-content-area .work-button:hover {
  color: var(--black);
  background:transparent;
}
.review-content-area .our-member-item:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.product-price-list h3 {
  text-align: center;
  line-height: 32px;
  padding-bottom: 40px;
}
.product-price-list {
  padding-top: 60px;
}
.price-list-item {
  gap:24px;
  justify-content: space-between;
}
.price-list-item li {
  background-color: #F0E1AA;
  padding: 22px 8px;
  width: calc((100% - 72px) / 4);
  text-align: center;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.price-list-item li strong {
    font-weight: 600;
}
.common-title h6 {
  line-height: 32px;
}
.common-title  h3 {
    padding-bottom: 30px;
}

.impact-factors-area .product-price-list  {
  padding-top: 110px;
}
.impact-factors-area .price-list-item li {
  width: calc((100% - 48px) / 3);
}
.testimonials-area {
  padding: 110px 30px 90px 40px !important;

}
.testimonials-title  span {
    font-size: 14px;
    color:#141412;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: 1px solid #15294F;
    border-radius: 30px;
    padding: 6px 14px;
    font-weight: 500;
}
.testimonials-title  h2 {
  font-size: 48px;
  line-height: 118%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: #141412;
  padding-top: 10px;
}

/*start rating*/
.ratting-star {
  padding-top: 7px;
    padding-bottom: 9px;
}
.star-area {
    width: 90px;
    position: relative;
}
.star {
    font-size: 0;
}
.star small {
    color: #e5e5e5;
    font-size: 16px;
    display: table-cell;
}
.rated-star {
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.rated-star small {
    font-size: 16px;
    color: #D7BE02;
    display: table-cell;
}
.testimonials-single-item {
  width: 50%;
}
.watch-btn {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonials-video-box {
  min-width: 288px;
  width: 288px;
}
.testimonials-info-box {
  width: 80%;
  padding-right:30px ;
  padding-left: 30px;

}
.testimonials-title {
  padding-bottom: 110px;
}
.testimonials-info-top {
  padding-bottom: 20px;
}
.testimonials-info-box h3 {
  font-size: 28px;
  line-height: 118%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  padding-bottom: 6px;
}
.testimonials-info-box span {
 color: #404C5C;
 font-size: 14px;
 line-height: 150%;
 font-weight: 500;
 font-family: "Plus Jakarta Sans", sans-serif;
 padding-bottom: 20px;
 display: block;
}
.testimonials-info-box p {
  line-height: 150%;
  color: #404C5C;
  font-family: "Inter", sans-serif;
}
.testimonials-right-item {
  margin-left: auto;
}
.banner-slider-item {
  height: 816px;
}
.goods-manufacturing-area .common-title p {
  font-size:24px;
  line-height: 34px;
}
.key-attributes-area {
  padding-top: 110px;
  padding-bottom: 110px;
  background: var(--primary);
  color: var(--white);
}
.product-top-title h6,
.product-top-title span  {
  font-size: 24px;
  line-height: 38px;
  color: #F4F3F3;
}

.product-top-title h6 {
  padding-top: 20px;
}
.product-top-title {
  padding-bottom: 40px;
}
.product-content-wrap {
  max-width: 760px;
  margin: 0 auto;
}
.product-item-small {
  cursor: pointer;
  position: relative;
}

.product-item-small:after {
  content:"";
  box-shadow:inset 0 0 0 0 rgba(0,0,0, 0);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.owl-item.current .product-item-small:after {
  box-shadow: inset 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.sync1.owl-carousel .owl-stage {
  display: block;
}
.key-attributes-area  .owl-nav {
  display: none;
}
.owl-carousel.sync1 .owl-nav  {
  position: absolute;
  top:50%;
  display: flex;
  transform: translateY(-50%);
  justify-content: space-between;
  width: 100%;
}
.sync1 .owl-nav i {
  font-size: 14px;
}
.sync1 .owl-nav button {
  width: 24px;
  height: 24px;
  background: rgb(25 22 22 / 61%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sync1 .owl-nav button:hover {
  background: #191616 !important;
}
.owl-carousel.sync2 {
  padding-top: 40px;
}
.sync1 .owl-next.disabled ,
.sync1 .owl-prev.disabled {
  opacity: 0;
  z-index: -1;
}
.key-attributes-area ul li{
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  list-style-type: disc;
}
.key-attributes-area ul {
  padding-left: 20px;
  padding-top: 40px;
}
.breadcrumb span .fa-house:hover  {
  color: var(--hover-color);
}
.key-attributes-area  .owl-nav{
  display: none;
}
.key-attributes-bg {
  background-color: var(--secondary);
}

.key-attributes-bg .product-top-title h6,
.key-attributes-bg .product-top-title span ,
.key-attributes-bg  ul li {
  color: var(--black);
}




















