/* @media screen and (min-width: 1925px) {
  .container {
    max-width: 2400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 2500px) {
  .custom-py {
    padding-left: 300px;
    padding-right: 300px;
  }

  .container {
    max-width: 2800px;
    margin: 0 auto;
  }
} */

@media screen and (max-width: 1780px) {
  .container {
    max-width: 1240px;
  }

  .logo {
    max-width: 280px;
  }

  .header {
    padding: 20px 0px;
  }

  .manufacturing-item p {
    font-size: 15px;
  }

  .common-title h4 {
    font-size: 21px;
  }

  .manufacturing-item h4 {
    font-size: 22px;
  }
  .extensive-text-content {
    width: 42%;
  }
  .extensive-text-content h2 {
    font-size: 38px;
    line-height: 50px;
  }
  .extensive-text-content p {
      margin-bottom: 40px;
  }
  .voices-experience-info {
      padding: 30px 24px 24px 24px;
  }
  .voices-experience-info h4 {
    font-size: 22px;
    line-height: 34px;
  }
  .voices-experience-info p {
    font-size: 16px;
    line-height: 30px;
  }
  .craftsmanship-area .common-title h2 {
      font-size: 54px;
      line-height: 65px;
      margin-bottom: 40px;
  }
  .our-extensive-photo iframe {
    width: 100% !important;
    height: 540px !important;
  }
  .contact-info ul li a, .contact-info ul li {
    font-size: 22px;
  }
  .contact-info ul {
    gap:40px;
  }
  .social-media-link ul li a {
      color: var(--black);
      font-size: 35px;
  }
  .social-media-link ul {
    gap:30px;
  }
 .location-map {
    min-height: auto;
    padding-bottom: 70px;
  }
  .blog-slider .owl-next {
    margin-right: -90px;
  }
  .blog-slider .owl-prev {
    margin-left: -90px;
  }
  .banner-area {
      margin-top: 80px;
  }
  /* .banner-info {
    min-height: 500px;
  } */
  .inner-banner .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner-info-text h1 {
    padding-bottom: 40px;
  }
  
  .impact-factors-title h2 {
    font-size: 100px;
  }
  .description-area {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .product-photo {
    max-width: 500px;
  }
  .impact-factors-info {
    padding: 40px;
  }
  .impact-factors-info h3 {
      font-size: 38px;
      line-height: 46px;
      padding-bottom: 26px;
  }
  .leather-story-info p {
      font-size: 22px;
      line-height: 32px;
      padding-bottom: 25px;
  }
  .secrscription-white {
    padding-top: 0px;
  }
  .aboutus-area .common-title h2  {
    font-size: 34px;
    line-height: 44px;
  }
  .about-info-text {
      width: 56%;
      padding-left: 70px;
  }
  .about-info-photo {
      width: 44%;
  }
  .about-info-text h2 a, .about-info-text h2 {
      font-size: 38px;
      line-height: 50px;
      margin-bottom: 12px;
  }
  .about-info-text h4 {
      line-height: 34px;
      font-size: 22px;
  }
  .about-info-text h6,
  .about-info-text p {
    font-size: 16px;
    line-height: 26px;
  }
  .aboutus-area .common-title {
      padding-top: 60px;
      padding-bottom: 40px;
  }
  .about-information-box  {
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .our-member-content {
    padding-bottom: 40px;
  }
  .our-member-content .common-title h6, .our-member-content .common-title h4 {
    padding-bottom: 12px;
  }
  .review-content-area .our-member-content {
      padding: 60px 75px;
  }
  .price-list-item {
    gap:20px;
  }
  .price-list-item li {
    padding: 18px 8px;
    width: calc((100% - 60px) / 4);
    font-size: 15px;
  }
  .testimonials-video-box {
      min-width: 250px;
      width: 250px;
      height: fit-content;
  }
  .testimonials-info-box h3 {
    font-size: 24px;
  }
  .testimonials-info-box p {
    font-size: 16px;
    line-height: 24px;
  }
  .testimonials-info-box {
      padding-right: 20px;
      padding-left: 20px;
  }
  .banner-slider-item {
    height: 710px;
  }
  .goods-manufacturing-area .common-title p {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 0px;
  }
}


@media screen and (max-width: 1500px) {
  .container {
    max-width: 1100px;
  }

  .menu-navbar ul {
    gap: 40px;
  }

  .logo {
    max-width: 268px;
  }

  .header {
    padding: 18px 0px;
  }

  .manufacturing-item h4 {
    font-size: 20px;
  }

  .common-title h2 {
    font-size: 38px;
  }

  .common-title h4 {
    font-size: 19px;
    line-height: 30px;
  }

  .artistry-behind-wrap {
    gap: 50px
  }

  .artistry-behind-item {
    width: calc((100% - 50px) / 2);
  }
  .our-extensive-range {
    padding: 80px 0;
    min-height: auto;
  }

  .extensive-text-content h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .extensive-text-content {
    padding: 20px 0px;
  }
  .our-leather-brand-area .common-title ul li {
    font-size: 20px;
    background-size: 35px auto;
  }
  .voices-experience-info p {
    margin-bottom: 10px;
  }
  .contant-us-form {
    padding: 50px;
  }
  .contant-us-form h3 {
    padding-bottom: 60px;
  }
  .form-group {
      padding-bottom: 30px;
  }
  .form-group label {
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 10px;
  }
  .location-map {
    padding-top: 0px;
  }
  .blog-item-info {
      padding-top: 20px;
  }
  .blog-slider .owl-next {
    margin-right: -65px;
  }
  .blog-slider .owl-prev {
    margin-left: -65px;
  }
  .banner-area {
      margin-top: 74px;
  }
  .banner-info-text h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .banner-info-text {
      max-width: 500px;
  }
  .banner-info-text .work-button {
      width: 230px;
      height: 54px;
  }
  .category-list-area {
    padding-bottom: 80px;
  }
  .impact-factors-info {
      padding: 50px;
  }
  .impact-factors-info h3 {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 22px;
  }
  .impact-factors-info p {
    font-size: 16px;
    line-height: 25px;
  }
  .sustainable-item-box {
      padding: 60px 50px;
  }
  .ustainable-item-info {
      padding: 0px 0px 0px 40px;
  }
  .ustainable-item-info h6 {
    font-size: 14px;
  }
  .ustainable-item-info h6::after {
    top:7px;
  }
  .ustainable-item-info h4 {
      padding-bottom: 20px;
      font-size: 22px;
  }
  .ustainable-item-info p {
      margin-bottom: 0px;
      font-size: 16px;
      line-height: 26px;
  }
  .leather-story-info {
      padding-left: 40px;
  }
  .leather-story-info p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 18px;
  }
  .review-content-area h6,
  .review-content-area .menmber-name h4 {
      line-height: 30px;
  }
  .price-list-item {
    gap:15px;
  }
  .price-list-item li {
    padding: 15px 6px;
    width: calc((100% - 45px) / 4);
    font-size: 14px;
  }
  .testimonials-info-box p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 0px;
  }
  .testimonials-video-box {
      min-width: 230px;
      width: 230px;
      height: fit-content;
  }
  .testimonials-info-box h3 {
      font-size: 20px;
  }
  .testimonials-info-box span {
    padding-bottom: 16px;
  }
  .banner-slider-item {
    height: 650px;
  }
  .banner-slider-item img {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1300px) {
  .our-extensive-range {
    padding-left: 75px;
  }
  .extensive-reverse.our-extensive-range {
    padding-right: 75px;
    padding-left: 0px;
  }

  .extensive-text-content h2 {
      font-size: 28px;
      line-height: 38px;
      padding-bottom: 20px;
  }
    .work-button {
      font-size: 20px;
      gap: 16px;
      padding: 7px 50px;
  }
  .extensive-text-content p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .craftsmanship-area {
    padding: 120px 0px;
  }
  .contant-us-area .common-title p br,
  .contant-us-area .common-title h2 br {
    display: none;
  }
    .contant-us-area .common-title {
      padding-bottom: 20px;
  }
  .blog-slider-area {
    padding:0px 100px; 
  }
  .banner-info {
      min-height: 430px;
  }
  .about-info-text {
    padding-left: 50px;
  }
  .aboutus-area .common-title h2 {
      font-size: 30px;
      line-height: 44px;
  }
  .price-list-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price-list-item li {
    width: calc((100% - 45px) / 3);
  }
  .testimonials-single-item {
      width: 70%;
      padding-bottom: 40px;
  }
  .testimonials-single-item:last-child {
    padding-bottom: 0px;
  }
  .banner-slider-item {
    height: 510px;
  }
  
}


@media screen and (max-width: 1200px) {
  .menu-navbar ul {
    gap: 20px;
  }

  .logo {
    max-width: 240px;
  }

  .menu-navbar ul li {
    font-size: 16px;
  }

  .artistry-behind-title {
    padding: 20px 20px
  }

  .artistry-behind-title h5 {
    font-size: 20px;
  }

  .details-box a {
    height: 80px;
  }

  .artistry-behind-wrap {
    padding-top: 50px;
  }
  .voices-experience-content {
      display: grid;
      grid-template-columns: 18% 60% 18%;
      align-items: center;
  }
  .voices-experience-photo  {
    width: 40%;
  }
  .voices-experience-info {
    width: 60%;
    padding: 20px
  }
  .contant-us-area .common-title h2 {
      line-height: 45px;
  }
  .banner-area {
      margin-top: 65px;
  }
  .category-list-area {
    padding-bottom: 60px;
  } 
  .impact-factors-title h2 {
      font-size: 75px;
  }
  .impact-factors-info {
      padding: 40px;
  }
  .impact-factors-info h3 {
      font-size: 28px;
      line-height: 38px;
      padding-bottom: 15px;
  }
  .description-area h2 br,
  .description-area p br {
    display: none;
  }
  .product-photo {
      max-width: 360px;
  }
  .attempt-title h2 {
    font-size: 80px;
  }
  .sustainable-item-inner {
      padding-bottom: 50px;
      margin-bottom: 50px;
  }
  .leather-story-info p {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 8px;
  }
  .member-info {
    padding-left: 24px;
  }
  .innner-banner-3 .banner-info {
    min-height: 400px;
  }
  .our-member-item {
      padding: 60px 20px 50px 20px;
  } 
  .member-info p {
    font-size: 16px;
  }
  .impact-factors-area .price-list-item li {
      width: calc((100% - 30px) / 2);
  }
  
}



@media screen and (max-width: 991px) {
  nav#menu-nav {
    display: none;
  }
  .impact-factors-photo  img{
    width: 100%;
  }

  .custom-py {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    max-width: 240px;
  }

  .humbarger-menu {
    display: block;
    margin-bottom: -10px
  }

  nav.menu-navbar {
    display: none
  }

  .nav-toggler {
    border: none;
    outline: none;
    width: 34px;
    padding: 0;
    background: 0 0;
    position: relative;
    z-index: 33
  }

  .nav-toggler span {
    width: 100%;
    margin-bottom: 8px;
    height: 3px;
    border-radius: 10px;
    display: block;
    background: var(--primary)
  }

  .nav-toggler span:last-child {
    margin-bottom: 0
  }

  a.slicknav_btn.slicknav_collapsed {
    display: none
  }

  #menu_holder {
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    top: 0px
  }

  .slicknav_nav {
    display: block !important
  }

  .nav-toggler {
    transition: all .3s ease
  }

  .nav-toggler.active span:first-child {
    transform: rotateZ(45deg)
  }

  .nav-toggler.active span:last-child {
    display: none
  }

  .nav-toggler.active span:nth-child(2) {
    transform: rotateZ(-45deg);
    margin-top: -11px
  }

  .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    background: rgb(0 0 0 / 27%);
  }

  .header-bg .menu-backdrop {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  #menu_holder {
    height: 100vh;
    width: 280px;
    left: inherit;
    right: 0px;
    bottom: 0px;
    width: 0px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
  }

  .header.header-position #menu_holder {
    top: 0px;
  }

  .mobile-menu-open#menu_holder {
    visibility: visible;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 280px;
    z-index: 3;
  }

  .nav-toggler.active span {
    background-color: var(--white) !important;
  }

  nav.slicknav_nav.slicknav_hidden {
    padding-top: 80px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .slicknav_menu {
    height: 100vh;
    overflow: auto;
    padding-bottom: 200px;
  }

  .header-top-inner {
    padding: 8px 0px;
  }

  .breadcrumb {
    padding-top: 2px;
  }

  header.header.header-position.header-bg .mobile-menu-open#menu_holder {
    top: 0px;
  }

  button.nav-toggler.toggler-open.active {
    position: fixed;
    top: 35px;
    right: 15px;
  }

  .goods-manufacturing-area {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .common-title h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }
  .common-title h4 {
    font-size: 17px;
    line-height: 28px;
  }
  .manufacturing-card-box {
    padding-top: 30px;
  }

  .common-title h5 {
    line-height: 28px;
    font-size: 16px;
  }
  .our-extensive-range {
    padding: 60px 0;
    padding-left: 20px;
  }
  .extensive-text-content {
    padding: 10px 0;
  }
  .extensive-text-content h2 {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 12px;
  }
  .extensive-text-content p {
    line-height: 22px;
  }
  .our-leather-brand-area .common-title ul {
    padding-top: 30px;
  }
  .our-leather-brand-area .common-title h5 {
    font-size: 18px;
  }
  .our-leather-brand-area .common-title ul li {
      font-size: 16px;
      background-size: 22px auto;
      line-height: 24px;
      padding-left: 35px;
      background-position: top 7px left;
      margin-bottom: 20px;
  }
  .our-leather-brand-area {
    padding: 60px 0;
  }
  .voices-photo-box img{
    display: none;
  }
  .voices-experience-content {
    grid-template-columns: 5% 82% 5%;
  }
  .experience-area {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .experience-area .common-title h2 {
    padding-bottom: 20px;
  }
  .contant-us-form {
      padding: 20px;
  } 
  .contant-us-form h3 {
      padding-bottom: 30px;
      font-size: 28px;
      line-height: 1;
  }
  .form-control {
    height: 42px;
    font-size: 16px;
  }
  .form-group {
    padding-bottom: 20px;
  }
  .form-check .row {
      gap: 2px 0px;
  }
  .web-search-image-upload  {
    flex-direction: column;
  }
  .file-upload-field,
  .web-search-field {
    width: 100%;
  }
  .chat-tool-check,
  .web-search-image-upload {
    gap: 0;
  }
  .form-group textarea {
      height: 140px;
  }
  .location-map {
    padding-right: 20px;
  }
  .contact-info ul li a, .contact-info ul li {
      font-size: 18px;
      line-height: 20px;
   }
   .contact-info ul {
      gap: 20px;
  }
  .social-media-link ul li a {
    font-size: 24px;
  }
  .social-media-link ul {
      gap: 18px;
  }
  .our-extensive-photo iframe {
    height: 350px !important;
  }
    section.our-extensive-range.extensive-reverse.location-map {
      padding-top: 0px;
      padding-right: 20px;
  }
  .contant-us-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .blog-section-area {
    padding-top:60px;
    padding-bottom: 60px;
  }
  .blog-slider-area {
    padding-top: 20px;
  }
  .slicknav_nav li ul li:last-child {
      border-bottom: none;
  }
  .slicknav_nav .slicknav_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
    .slicknav_nav .slicknav_arrow::before {
      content: '\f078'; 
      font-family: 'Font Awesome 6 Free';
      font-weight: 900; 
      font-size: 16px;
      display: inline-block;
      width: 10px;
      height: 10px;
      line-height: 10px;
  }
  .banner-info-text h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .banner-info-text .work-button {
    width: 186px;
    padding: 10px;
    height: 50px;
  }
  .banner-info-text h1  {
    padding-bottom: 30px;
  }
  .description-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .description-area p {
    font-size: 16px;
    line-height: 24px;
  }
  .category-list-content ul {
    flex-direction: column;
  }
  .impact-factors-area,
  .product-categories-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .impact-factors-item-box  {
    flex-direction: column;
  }
  .impact-factors-title h2 {
      font-size: 40px;
  }
  .impact-factors-title {
      padding-bottom: 50px;
  }
  .impact-factors-info, .impact-factors-photo {
    width: 100%;
  }
  .impact-factors-info {
    padding: 20px 0px 20px 0px;
  }
  .impact-factors-info h3 {
      font-size: 24px;
      line-height: 33px;
      padding-bottom: 15px;
  }
  .sustainable-item-inner {
    flex-direction: column;
  }
  .sustainable-item-photo img,
  .sustainable-item-photo {
    width: 100%;
  }
  .ustainable-item-info {
    width: 100%;
    padding: 0px;
    padding-top: 20px;
  }
  .sustainable-item-box {
      padding: 60px 20px;
      padding-bottom: 30px;
  }
  .attempt-title h2 {
      font-size: 40px;
  }
  .sustainable-initiatves-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sustainable-item-inner {
      padding-bottom: 24px;
      margin-bottom: 24px;
  }
  .sustainable-initiatves-area .common-title {
      padding-bottom: 20px;
  }
  .members-list-slider .owl-prev {
    margin-left: 0px;
  }
  .members-list-slider .owl-next {
    margin-right: 0px;
  }
  .experience-area {
    padding-bottom: 60px;
  }
  .impact-factors-area {
    padding-bottom: 20px;
  }
  .contant-us-area .common-title h2 {
      line-height: 38px;
  }
  .footer-area {
    padding-top: 60px;
  }
  .leather-story-photo {
    width: 100%;
  }
  .leather-story-photo img {
    width: 100%;
  }
  .leather-story-info {
      padding-left: 0px;
      padding-top: 30px;
      width: 100%;
  }
  .leather-story-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .leather-story-info p:last-child {
    margin-bottom: 0px;
  }
  .leather-crafing-content .impact-factors-info {
    padding: 20px 0px;
  }
  .leather-crafing-content .impact-factors-info h4 {
      font-size: 24px;
      padding-bottom: 15px;
      line-height: 34px;
  }
  .impact-factors-info p {
    margin-bottom: 10px;
  }
  .secrscription-white {
    padding-top: 0px;
  }
  .typefo-leather-area .impact-factors-info h4 {
      padding-bottom: 20px;
  }
  .attempt-inner-bg .impact-factors-info h4 {
      margin-bottom: 18px;
  }
  .attempt-inner-bg {
      padding-top: 60px;
      padding-bottom: 30px;
  }
  .attempt-inner-bg .attempt-title {
      top: -75px;
  }
  .inner-banner-2 .banner-info-text h1 {
    font-size: 38px;
  }
  .banner-info-text h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .aboutus-area .common-title {
      padding-top: 14px;
      padding-bottom: 30px;
  }
  .aboutus-area .common-title h2 {
      font-size: 22px;
      line-height: 32px;
  }
  .about-information-box {
    flex-direction: column;
  }
  .about-info-photo {
    width: 100%;
  }
  .about-info-photo img {
    width: 100%;
  }
  .about-info-text {
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
  } 
  .about-info-text h2 a, .about-info-text h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .about-info-text h4 {
      line-height: 30px;
      font-size: 20px;
      margin-bottom: 16px;
  }
  .about-info-text p{
    margin-bottom: 16px;
  }
  .about-information-box {
      padding-bottom: 10px;
      margin-bottom: 40px;
  }
  .about-info-text ul li {
    font-size: 16px;
    line-height: 26px;
  }
  .accordion-box {
    padding-top: 30px;
  }
  .our-member-content {
    margin-top: 25px;
  }
  .our-member-content .common-title {
    padding-top: 30px !important;
  }
  .our-member-content .common-title h6 {
    font-size: 14px;
  }
  .review-content-area .our-member-content {
      padding: 30px 40px;
  } 
  .product-price-list h3 {
    font-size:26px;
    padding-bottom: 20px;
  }
  .product-price-list {
    padding-top: 30px;
  }
  .price-list-item li {
      width: calc((100% - 45px) / 2);
  }
  .common-title  h6 {
    font-size: 14px;
  }
  .impact-factors-area .product-price-list {
    padding-top: 20px;
  }
  .testimonials-area{
    padding: 60px 20px !important
  }
  .testimonials-title h2 {
    font-size: 28px;
  }
  .testimonials-title {
    padding-bottom: 40px;
  }
  .testimonials-single-item {
    width: 90%;
  }
  .artistry-behind-area .common-title p,
  .goods-manufacturing-area .common-title p {
      font-size: 16px;
      line-height: 24px;
  }
  .artistry-behind-area .common-title p br {
    display: none;
  }
  .key-attributes-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .product-top-title h6, .product-top-title span {
    font-size: 20px;
    line-height: 30px;
  }
  .product-top-title h6 {
      padding-top: 10px;
  }
  .product-top-title {
      padding-bottom: 20px;
  }
  .key-attributes-area ul {
    padding-top: 20px;
  }
  .key-attributes-area ul li {
    font-size: 16px;
    line-height: 28px;
  }
  .owl-carousel.sync2 {
      padding-top: 20px;
  }
  .breadcrumb span {
    line-height:20px ;
  }
  .breadcrumb {
      gap: 8px;
  }
  .breadcrumb > span::after {
    margin-left: 4px;
  }

}

@media screen and (max-width: 768px) {
  .manufacturing-item {
    width: 100%;
  }
  .manufacturing-card-box {
    flex-wrap: wrap;
  }

  .manufacturing-item::after {
    display: none;
  }

  .manufacturing-card-box {
    padding-top: 0px;
    margin-top: 0px;
    gap: 15px;
  }

  .manufacturing-item {
    padding-bottom: 0px;
  }

  .goods-manufacturing-area::after {
    display: none;
  }
  .artistry-behind-title h5 {
      font-size: 18px;
  }
  .banner-info-text h1 br {
    display: none;
  }
  .banner-area {
    margin-top: 65px;
  }
  .details-box h5 {
    font-size: 18px;
  }
  .details-box a img {
    width: 35px;
  }
  .artistry-behind-area {
    padding-top:60px;
    padding-bottom: 70px;
  }
  .artistry-behind-item {
    width: 100%;
  }
  .common-title h5 {
    line-height: 22px;
  }
  .artistry-behind-wrap {
      padding-top: 40px;
      gap:30px;
  }
  .details-box a {
      height: 65px;
  }
  .extensive-range-inner  {
    flex-direction: column;
  }
  .extensive-text-content {
    width: 100%;
    text-align: center;
  }
  .our-extensive-photo {
    position: initial;
    max-width: 100%;
    padding-top: 30px;
  }
  .our-extensive-range {
    padding-right: 20px;
  }
  .work-button {
    font-size: 18px;
  }
  .leather-brand-r-wrap {
      padding-top: 15px;
  }
  .owl-dots {
    margin-top: 20px;
  }
  .extensive-reverse .extensive-range-inner {
    flex-direction: column;
  }
  .extensive-reverse.our-extensive-range {
    padding-right: 20px;
    padding-left: 20px;
  }
  .extensive-text-content {
    padding: 0px;
  }
  .extensive-reverse .our-extensive-photo {
    padding-top: 10px;
  }
  .voices-experience-content {
    grid-template-columns: 100%;
    position: relative;
  }
  .voices-photo-box.nav-arrow-left {
      position: absolute;
      bottom: -24px;
      left: 28px;
      z-index: 2;
  }
  .voices-photo-box.nav-arrow-right {
      position: absolute;
      right: 24px;
      bottom: -44px;
      z-index: 2;
  }
  .voices-experience-photo {
      width: 100%;
  }
  .voices-experience-item.d-flex {
      flex-direction: column;
  }
  .voices-experience-info {
    width: 100%;
  }
  .voices-experience-info h4 {
      font-size: 20px;
      line-height: 34px;
  }
  .voices-experience-info p {
    line-height: 24px;
  }
  .experience-area .common-title h2 {
    margin-bottom: 0px;
  }
  .craftsmanship-area .common-title h2 {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 19px;
  }
  .craftsmanship-area .common-title p {
      margin-bottom: 26px;
  }
  .craftsmanship-area {
      padding: 60px 0px;
  }
  .craftsmanship-area .common-title p br {
    display: none;
  }
  .craftsmanship-area .common-title p {
    font-size: 16px;
    line-height: 24px;
  }
  .craftsmanship-area .work-button {
    padding: 7px 20px
  }
  .btn-submit {
      padding: 5px 50px;
  }
  .contact-info ul li span a {
      margin-bottom: 8px;
  }
  .contact-info ul li a, .contact-info ul li {
      font-size: 16px;
      text-align: start;
  }
  .social-media-link ul,
  .contact-info ul {
    padding-left: 0px;
  }
  .our-extensive-photo iframe {
    height: 250px !important;
  }
  .map-box {
      padding-top: 20px;
  }
  .contact-info ul {
      gap: 14px;
  }
  .blog-slider-area {
    padding: 0px;
    padding-top: 20px;
  }
  .blog-slider .owl-nav {
    top:initial;
    bottom: 0px;
  }
  .blog-slider .owl-next {
    margin-right: 0px;
    margin-top: -10px;
  }
  .blog-slider .owl-prev {
    margin-left: 0px;
    margin-top: -10px;
  }
  .owl-nav i {
      font-size: 22px;
  }
  .blog-slider .owl-dots {
    margin-top: 34px;
  }
  .impact-factors-title {
      padding-bottom: 20px;
  }
  .impact-factors-title h2 {
      font-size: 30px;
  }
  .product-categories-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .product-categories-content {
      padding-bottom: 40px;
  }
  .product-categories-item .row {
    gap:20px 0px
  }
  .impact-factors-info h6 {
    padding-bottom: 15px;
  }
  .members-list-photo {
    max-width: 150px;
  }
  .members-info p {
    margin-bottom: 0px;
  }
  .footer-logo {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer-nav ul {
      gap: 12px;
  }
  .footer-nav {
    padding-bottom: 35px;
  }
  .footer-area {
      padding-top: 40px;
  }
  .footer-nav ul li {
    padding-right: 12px;
  }
  .copyright-box p {
    line-height: 18px;
  }
  .banner-image::after {
      content: '';
      position: absolute;
      background: #ffffff33;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
  }
  .inner-banner-2 .banner-image::after {
    content: none;
  }
  .breadcrumb span i {
      font-size: 20px;
  }
  .aboutus-area {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .aboutus-area .common-title{
    padding-top:0px;
  }
  .description-contanct-box .common-title h4{
    padding-bottom: 20px;
  }
  .inner-banner-2  .banner-info {
    min-height: 300px;
  }
  .accordion-header h6 {
      padding: 15px 20px;
      font-size: 16px;
      line-height: 26px;
  }
  .accordion-box {
    padding-top: 0px;
  }
  .accordion-content {
      padding: 15px 20px;
      margin-top: 20px;
  }
  .accordion-content p {
    font-size: 16px;
    line-height: 25px;
  }
  .our-member-item {
    padding:30px 20px;
  }
  .our-member-item  {
    flex-direction: column;
  }
  .member-photo {
    width: 100%;
    text-align: center;
  }
  .member-info {
      padding-left: 0px;
      padding-top:30px;
      width: 100%;
      text-align: center;
  } 
  .menmber-name h4 {
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 12px;
  }
  .member-info p {
    line-height: 24px;
  }
  .our-member-content .common-title h6, .our-member-content .common-title h4 {
    line-height: 26px;
  }
  .our-member-content .common-title {
    padding-bottom: 0px;
  }
  .innner-banner-3 .banner-info {
      min-height: 320px;
  }
  .review-content-area .member-photo {
    margin: 0 auto;
    width: 140px;
    min-width: 140px;
  }
  .review-content-area .member-info {
    width: 100%;
    padding-left: 0px;
    padding-top:20px;
  }
  .review-content-area .our-member-content {
    padding: 20px;
  }
  .review-content-area .menmber-name h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .review-content-area h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .review-content-area .member-info p {
    font-size: 15px;
    line-height: 24px;
  }
  .review-content-area .our-member-item {
      padding-bottom: 30px;
      margin-bottom: 30px;
  }
  .price-list-item li {
    width: 100%;
    padding: 8px 6px;
  }
  .common-title  h6 {
    font-size: 16px;
  }
  .common-title h4 {
    font-size: 18px;
  }
  .product-price-list h3 {
      font-size: 22px;
      line-height: 28px;
  }
  .description-area {
      padding-top: 40px;
      padding-bottom: 40px;
  }
  .common-title  h6 {
    line-height: 24px;
  }
  .common-title h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .common-title h6 br {
    display: none;
  }
  .impact-factors-area .price-list-item li {
    width: 100%;
  }
  .impact-factors-area .product-price-list {
    padding-top: 10px;
  }
  .testimonials-single-item {
    flex-direction: column-reverse;
    width: 100%;
  }
  .testimonials-info-box {
    width: 100%;
    padding: 0px;
    padding-top: 20px;
  }
  .testimonials-video-box {
      min-width: 100%;
      width: 100%;
  }
  .testimonials-video-box img {
    width: 100%;
  }
  .testimonials-area {
      padding: 40px 15px !important;
  }
  .testimonials-title h2 {
      font-size: 22px;
  }
  .testimonials-single-item {
    padding-bottom: 30px;
  }
  .banner-slider-item {
      height: 330px;
  }
  .product-top-title h6, .product-top-title span {
    font-size: 18px;
  }
  .inner-banner-2 .banner-info-text h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .key-attributes-area {
      padding-top: 40px;
      padding-bottom: 40px;
  }
}